CORE_HOST=core.high-performance-platform.com
SHIELD_HOST=shield.high-performance-platform.com
NEXT_PUBLIC_ROOT_DOMAIN=high-performance-platform.com

# Only needed for `pnpm deploy:shield`
VERCEL_TOKEN=your_vercel_token_here
