CORE_HOST=core.shield-platform.xyz
SHIELD_HOST=shield.shield-platform.xyz
NEXT_PUBLIC_ROOT_DOMAIN=shield-platform.xyz

# Only needed for `pnpm deploy:shield`
VERCEL_TOKEN=your_vercel_token_here

# Deployment protection
VERCEL_BYPASS_TOKEN=xxx # this token should be created *for the core project*