# dev
PROTOCOL=http
CACHE_LAYER_HOST=localhost:3000
CORE_HOST=localhost:3001
API_HOST=localhost:3002

# prod
# PROTOCOL=https
# CORE_HOST=core.pzvtest314.vercel.app
# API_HOST=api.pzvtest314.vercel.app
# CACHE_LAYER_HOST=cache.pzvtest314.vercel.app

NEXT_PUBLIC_ROOT_DOMAIN=pzona.lol

KV_URL="rediss://default:xxx@yyy-123.upstash.io:6379"
KV_REST_API_URL="https://yyy-123.upstash.io"
KV_REST_API_TOKEN="xxx"
KV_REST_API_READ_ONLY_TOKEN="xxx"
REDIS_URL="rediss://default:xxx@yyy-123.upstash.io:6379"