# This service doesn't need to call other services currently
# But keeping this file for consistency and future use

# dev
CORE_HOST=localhost:3001
CACHE_LAYER_HOST=localhost:3000

# prod
# CORE_HOST=core.pzvtest314.vercel.app
# CACHE_LAYER_HOST=pzona.lol
